<div class="grid-prod">
    <div class="item">
        <div class="front">
        <img src="images/prodigious.png" alt="logo" />
        </div>
        <div class="back">
            <h4>Proximamente.</h4>
        </div>
    </div>
    <div class="item">
        <div class="front">
        <img src="images/prodigious.png" alt="logo" />
        </div>
        <div class="back">
            <h4>Proximamente.</h4>
        </div>
    </div><div class="item">
        <div class="front">
        <img src="images/prodigious.png" alt="logo" />
        </div>
        <div class="back">
            <h4>Proximamente.</h4>
        </div>
    </div><div class="item">
        <div class="front">
        <img src="images/prodigious.png" alt="logo" />
        </div>
        <div class="back">
            <h4>Proximamente.</h4>
        </div>
    </div><div class="item">
        <div class="front">
        <img src="images/prodigious.png" alt="logo" />
        </div>
        <div class="back">
            <h4>Proximamente.</h4>
        </div>
    </div><div class="item">
        <div class="front">
        <img src="images/prodigious.png" alt="logo" />
        </div>
        <div class="back">
            <h4>Proximamente.</h4>
        </div>
    </div>
</div>