<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="heading section">
        <h1>Bienvenido a Prodigious Challenges</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="info">
        <h3>¿Que es Prodigious Challenges?</h3>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="info">
        <p>Es una plataforma de colaboración y aprendizaje para los desarrolladores de software de Prodigious, en la cual
          se podrá participar por medio de su cuenta de github buscando la solución mas novedosa a un problema planteado.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%- include('landing-grid.ejs', {data: 'data'}); %>
    </div>
  </div>
</div>